:root {
  --red: #ff3860;
  --red-dark: #ff1443;
  --red-light: #ff5c7c;
  --blue: #498afb;
  --blue-dark: #2674fa;
  --blue-light: #6ca0fc;
  --orange: #fa8142;
  --orange-dark: #f96a1f;
  --orange-light: #fb9865;
  --green: #09c372;
  --green-dark: #07a15e;
  --green-light: #0be586;
  --purple: #9166cc;
  --purple-dark: #7d4bc3;
  --purple-light: #a481d5;
  --yellow: #ffdd57;
  --yellow-dark: #ffd633;
  --yellow-light: #ffe47a;
  --pink: #ff4088;
  --pink-dark: #ff1c72;
  --pink-light: #ff649e;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --nav-width: 4em;
  --box-shadow: 4px 0 10px -3px #010101;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--gray6);
  }
}

h1 {
  font-family: 'Cubano', sans-serif;
}

.colorGradient {
  background-image: linear-gradient(90deg, var(--orange), var(--pink));
  border-radius: 3px;
  color: transparent;
  padding: 0 4px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;  
}

.text-center {
  text-align: center;
}

hr {
border-top: 0.3em dashed var(--gray4);
}
