.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--gray6);
    border-top: 5px solid var(--purple);
    max-width: 250px;
    min-width: 250px;
    margin: 1.2em;
    padding-top: 3em;

    h3 {
        font-family: 'Cubano', sans-serif;
    }

    .icon {
        border-radius: 50%;
    }

    .TextStart {
        text-align: start;
    }

    // .description {
    //     text-align: start;
    // }

    input[type*="button"] {
        width: 100%;
        padding: 0.5em;
        font-size: 1em;
        margin: 1em;
        background-color: var(--green);
        border: none;
        border-radius: 10px;
        box-shadow: 0 0.5em var(--blue-dark);
        transition: all 0.5s ease-in-out;
    }

    input[type*="button"]:active {
        box-shadow: none;
        transform: translate(0, 0.5em);
    }

}