.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--gray6);
    border-top: 5px solid var(--purple);
    max-width: 20em;
    min-width: 20em;
    margin: 1.2em;
    padding-top: 3em;

    
    .containerTitle {

        margin: 1em 0;

        h3 {
            font-family: 'Cubano', sans-serif;
            font-size: 1.5em;
        }
    }

    .containerPrice {
        
        span {
            font-size: 2em;
            font-weight: bold;
            font-family: "Cubano", sans-serif;
            color: var(--green)
        }

        span::before {
            font-family: 'DynaPuff', cursive;
            content: "€ ";
        }
    }

    .containerHr {

        
        .hr {
            border: none;
            border-top: 2px dashed var(--gray5);
            color: var(--gray5);
            margin-left: 0;
            margin-right: 0;
            background-color: red;
            
        }
    }

    .containerTags {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 0.9em;

            &::before {
                content: "[";
                color: var(--yellow);
                font-size: 1.2em;
            }

            &::after {
                content: "]";
                color: var(--yellow);
                font-size: 1.2em;
                
            }
        }
        
    }

    .containerQty {
        margin: 1em;

        span {
            font-size: 0.9;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            color: var(--yellow);

            &::after {
                content: " Qty";
                color: var(--gray2);
                font-weight: 200;
            }
        }
    }

    .containerDescription {
        align-self: flex-start;
        font-family: "Poppins", sans-serif;
        ul {
            li {
                list-style: none;
                margin: 0.3em 0;
                &::before {
                    content: "✅";
                    margin-right: 0.2em;
                }
            }
        }
    }

    .containerIcon  {

        margin-top: 1em;

        .icon {
            border-radius: 50%;
        }
    }

    .TextStart {
        position: relative;
        float: left;
    }

    input[type*="button"] {
        width: 100%;
        padding: 0.5em;
        font-size: 1em;
        margin: 1em;
        background-color: var(--green);
        border: none;
        border-radius: 10px;
        box-shadow: 0 0.5em var(--blue-dark);
        transition: all 0.5s ease-in-out;
    }

    input[type*="button"]:active {
        box-shadow: none;
        transform: translate(0, 0.5em);
    }

}