.links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: var(--gray3);
}

.link {
    transition: all 0.5s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;

    .redirectIcon {
        visibility: hidden;
    }
}

.link:hover {
    color: white;
}

.redirectContainer {
    display: flex;
    justify-content: space-between;
}

.icon {
    margin-right: 0.25em;
    overflow: hidden;
}

@media only screen and (max-width: 750px) {

    .links {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: flex-start;

        padding: 0 2rem;
        position: fixed;
        top: var(--nav-width);
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: inherit;
        gap: 0;

        visibility: hidden;
        opacity: 0;
        // transform: translateY(calc(-100vh - 4rem));
        transition: cubic-bezier(.4, 0, .2, 1) 0.15s;
    }

    .link {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        border-top: 2px solid var(--gray3);
        // border-bottom: 1px solid var(--gray3);
        padding: 0.7rem 0;

        &:last-child {
            border-bottom: 2px solid var(--gray3);
        }

        .redirectIcon {
            visibility: visible;
            margin-left: auto;
        }
    }

    .toggleNav {
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (max-width: 1300px) {}