.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;

    .avatarContainer {
        background-color: var(--gray5);
        grid-column: 1;
        grid-row: 1/-1;
        font-family: "Poppins", sans-serif;
        border-radius: 0.375rem;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        .subAvatarContainer{
            margin: 1em 1em 0 1em;
            
            .avatar {
                border-radius: 50%;
                height: 10em;
                width: 290px;
                height: 290px;
            }

            .informationContainer {
                text-align: left;
                align-self: flex-start;
                // padding-left: 1.5em;
                
                p {
                    margin-top: -1em;
                }
            }
        }
    }
}