.container {
    display: flex;
    flex-direction: column;

    input {
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        font-weight: 500;
        padding: 0.5em;
        border: none;
        border-bottom: solid 3px var(--red);
        width: 100%;
        outline: none;
        transition: all 0.5s ease-in-out;
        background-color: var(--gray6);
        color: white;
    }

    label {
        font-style: italic;
        font-weight: bold;
        color: var(--gray2);
    }

    .error {
        color: var(--gray2);
        margin-top: 0.2em;
        font-size: 0.9em;
        font-weight: 500;
    }
}