.icons {
    display: flex;
}

.iconsContainer {
    display: flex;
    justify-content: center;
}

.icon {
    color: var(--gray3);
    height: 1.4em;
    width: 1.4em;
    margin: 0 10px;
    transition: all 0.5s ease-out;
}

.icon:nth-child(2) {
    margin: 0 calc(2em - 10px) 0 0;
}

.icon:hover {
    color: white;
}

button.toggleNav {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-style: none;
    background-color: transparent;
}